*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.sp-scroll{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
}
::-webkit-scrollbar {/*隐藏滚轮*/
    display: none;
}
.h-scroll{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling : touch;
}
