*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
}
textarea, input{
    border: none;
    background: white;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.sp-scroll{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
}
::-webkit-scrollbar {/*隐藏滚轮*/
    display: none;
}
.h-scroll{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling : touch;
}

.block-item-title{
    height: 32px;
    color:rgba(151,160,177,1);
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.block-item-title i{
    color: #1ED29A;
    font-size: 10px;
    margin-right: 5px;
}


/*upload*/
[class*=" cubeic-"], [class^=cubeic-]{
    -webkit-text-stroke-width: 0 !important;
}

